* {
  margin: 0px;
  padding: 0px;

  font-family: Verdana, Geneva, Tahoma, sans-serif;


}

.gridcontenedor {
  display: grid;
  margin: 0 auto;

  grid-template-areas: 'nav nav nav nav'
    'carrusel carrusel carrusel carrusel '
    'info1 info1 info1 aside '
    'video1 video2 video3 aside '
    'info2 info2 info2 aside '
    'footer footer footer footer ';

  grid-column-gap: 20px;
  grid-row-gap: 20px;
  /*background-image:url(/ProyectoDevsActualizado/Devs_team-codo_a_codo/img/fondo1.jpg);*/
  background-image: url(/Devs_team-codo_a_codo/img/fondoprincipal.png);
  background-color: rgb(33, 37, 41);
  border: 5px solid rgb(33, 37, 41);
  padding: 20px;

}




.aside {
  grid-area: aside;
  background-color: rgb(106, 123, 182);
}

.info1 {
  grid-area: info1;
  text-align: center;
  background-color: rgb(106, 123, 182);

}

.video1 {

  grid-area: video1;
}

.video2 {

  grid-area: video2;
}

.video3 {
  grid-area: video3;
}

.info2 {
  grid-area: info2;
  text-align: center;
  background-color: rgb(106, 123, 182);

}


.iframe {
  max-width: 100%;
  height: auto;
  width: "560";
  height: "315";
}


.footer a {
  text-decoration: none;
  padding: 5px;
}


#footer {
  padding-top: 10px;
  text-align: center;
  color: white;
  background-color: rgb(33, 37, 41);
  text-decoration: none;
}

/* Navbar  */
.navbar {
  display: flex;
  background-color: rgb(33, 37, 41);
  padding: 20px;
}

.logo img{
  width: 45px;
}

.navbar-burger{
  display: none;
}

.navbar-burger button{
  border:none;
  background-color: rgb(33, 37, 41);
  color:#ffffff;
  cursor: pointer;
}

.navbar-inicio{
  display: flex;
  align-items: center;
}

.navbar-inicio a{
  color: white;
  padding: 10px;
  text-decoration: none;
}

.navbar-inicio a:hover{
  background-color: white;
  color: black;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.collapse{
display: flex !important;
}
@media screen and (max-width: 640px) {

  /*Para celulares*/
  .gridcontenedor {
    grid-template-areas: 'nav'
      'carrusel'
      'info1'
      'video1'
      'video2'
      'video3'
      'info2'
      'aside'
      'footer';
  }

  .slider-container,
  .slider-item {
    width: auto;
  }

  .navbar{
    display: block;
  } 
  .navbar-logo{
    display: flex;
    align-items: center;
    
  }
  .navbar-burger{
    display: block;
  }
  .navbar-inicio{
    display: none;
    flex-direction: column;

  }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {

  /*Para tablets*/
  .gridcontenedor {

    grid-template-areas: 'nav'
      'carrusel'
      'aside'
      'video1'
      'info1'
      'video2'
      'info2'
      'video3'
      'footer'
    ;

  }
}


@media screen and (min-width: 1280px) {

  /* desktop*/
  .gridcontenedor {
    grid-template-areas: 'nav nav nav nav'
      'carrusel carrusel carrusel carrusel '
      'info1 info1 info1 aside '
      'video1 video2 video3 aside '
      'info2 info2 info2 aside '
      'footer footer footer footer '
    ;
  }
}




/* ---------Original-------- */
nav {
  background-color: rgb(33, 37, 41);
  padding: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: white;
  color: black;
}

/* ------------------------ */

button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.noticias {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
}

.noticias h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.noticias article {
  margin-bottom: 20px;
}

.noticias article h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.noticias article p {
  font-size: 1.2em;
  line-height: 1.5;
}


.slider-container {
  grid-area: carrusel;
  width: 100%;
  position: relative;
  margin: auto;

}

.slider-item {
  flex: 0 0 100%;
  width: 100%;
  height: 500px;
}

.mySlides {
  display: none;
}

.anterior,
.siguiente {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.siguiente {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.anterior:hover,
.siguiente:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  position: relative;
  top: -30px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.desvanecer {
  animation-name: desvanecer;
  animation-duration: 1.5s;
}

@keyframes desvanecer {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


/*estilos Pestaña Vunerabilidadess*/

.contVulnerabilidades {

  display: grid;
  width:80%;
  margin: 0 auto;
  grid-template-areas:
      'imagentop imagentop imagentop imagentop'
      'contenedorcaja infovul infovul infovul'
      'animacion1 ransomware ddos troyanosbancarios';
}


.imagentop {
  grid-area:imagentop;
 
   }

    #imag{
    width:100% ;
  }

.infovul {
  grid-area: infovul;
}


.animacion1 {
  grid-area:animacion1;
  position:relative;
  animation-name:movimiento;
  animation-duration:15s;
  }

  
  @keyframes movimiento {
    0%{
      left: 0px;
      top: 0px;
      border-radius: 0%;
      
    }
    25%{
      left: 100px;
      top: 0px;
      border-radius: 50%;

    }
    50%{
      left: 100px;
      top: 300px;
      border-radius: 0%;
    }
    75%{
      left: 0px;
      top: 200px;
      border-radius: 50%;
    }
    100%{
      left: 0px;
      top: 0px;
      border-radius: 0%;
    }
  }

.ransomware {
  grid-area: ransomware;
  width: 200px;
  border:1px solid rgb(66, 23, 23);
  box-shadow: 0 0 3px rgb(116, 62, 23);
  border-radius: 5px;
  margin: 10px; 

}
.ransomware img {
  width:100%;
    
}

  
.animacion2 {
  grid-area:animacion2;
  border-color: black;
  }
  
  
.ransomware a{
  color: rgb(195, 159, 60);
  background-color: bisque;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  
  
}


.ddos {
  grid-area: ddos;
  width: 200px;
  border:1px solid rgb(66, 23, 23);
  box-shadow: 0 0 3px rgb(116, 62, 23);
  border-radius: 5px;
  margin: 10px; 

}
.ddos img {
  width:100%;
    
}

.ddos a{
  color: rgb(195, 159, 60);
  background-color: bisque;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
  
  
}


.troyanosbancarios {
  grid-area: troyanosbancarios;
  width: 200px;
  border:1px solid rgb(66, 23, 23);
  box-shadow: 0 0 3px rgb(116, 62, 23);
  border-radius: 5px;
  margin: 10px; 

}
.troyanosbancarios img {
  width:100%;
    
}

.troyanosbancarios a{
  color: rgb(195, 159, 60);
  background-color: bisque;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  display: inline-block;
   
}

.textocard{
  padding: 10px;
  text-align: justify;
 
}

h2{
  text-align: center;

}

/* botones de las tarjetas del menu Vulnerabilidades*/
.button1{
  background-color: #555555;
  color:aliceblue;
  font-size: 15px;
}

.button1:hover {
  background-color: #f6410f; 
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.infovul{
text-align: justify;
padding-left: 60px;
padding-bottom: 60px;
}

/*animacion del cubo*/

.contenedorcaja{
  grid-area: contenedorcaja;

}
.caja {
  position: relative;
  width: 200px;
  height: 200px;
  margin:0;
  padding:0;
  transform-style: preserve-3d;
  transform-origin: 100px 100px;
  animation: girar 30s infinite;
 }

  .cara{
position: absolute;
width: 200px;
height: 200px;
backface-visibility: hidden;
    }

 .cara img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .cara1{
      transform: translateZ(100px);
    }

    .cara2{
      transform: rotateY(90deg) translateZ(100px);
    }

    .cara3{
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }

    .cara4{
      transform: rotateX(180deg) rotateZ(90deg) translateZ(100px);
    }

    .cara5{
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }

    .cara6{
      transform: rotateX(-90deg) rotateZ(90deg) translateZ(100px);
    }

@keyframes girar {
  50%{
      transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  
}

h4{
  text-align:center;

}

